<div class= "Centered main page items">    
    <h1>Log in below to start working together with your class!</h1>
</div>
<div class= "button" style="text-align:center;">
    <button class="button loginbutton">Log In</button>
</div>
<h1>
	
</h1>
<%= image_tag("Placeholder1.jpg", alt: "1", id: "slide", height: 480, width: 900)%>
<script>
	slideit();	
</script>
